@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Nunito|Permanent+Marker&display=swap');


:root {
    --primary-color:#459ACC;
    --secondary-color:#8DE4FF;
    --accent-color:#90FFDC;
    --accent2-color:#87CBAC;

}


body {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 1em;
    height: 100%;
    text-align: center;
    align-content: center;
}


html {
    height: 100%;

}

img {
    max-width: 100%
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-style: italic;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: blue;
}

h3 {
    font-family:'Black Han Sans', sans-serif;
    color: blue;
}

h4 {
    font-family:'Black Han Sans', sans-serif;
    color: black;
}

header {
    padding: 1em;
    text-align: center;
    color: white;
    background-color: orange;

}

header>h1 {
    color: red;
}

header>picture {
    margin: auto;
    align-content: center;
    vertical-align: text-top;
}

nav {
    background-color: orange;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    align-content: center;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: brown;
}

nav a:hover {
    color: blue;
    background-color: orange;
}

p {
    font-family: Nunito;
    color: black;
    padding: 1em
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: #6D4928;
}

.secondary {
    background-color: #459ACC;
}

.accent1 {
    background-color: #8ACDEA;
}

.accent2 {
    background-color: white;
}


.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.social {
    text-align: center;
}