@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1600px;
    margin: 0 auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: beige;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #fcfbfb;
    font-size: 22px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: white;
    color: aliceblue;
}

.book,
.join {
    background-color: aliceblue;
    color: blueviolet;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #fcfbfb;
    color: black;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.msg {
    background-color: aliceblue;
    color: blueviolet;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: rgba(20, 30, 13, .7);
    color: blue;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-box img {
    margin: 0 auto;
    width: 100%;

}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

#logo_link {

    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}



@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}
