
img{
    /* display: block; */
    border: 2px solid darkblue;
    width: 30%;
    max-width:1000px;
    border-radius: 15%;
    padding: .5em;
    background-color: lightblue;
    box-sizing: border-box; /* makes the whole thing the pixel size specified above*/
    /* border-radius: 50%; makes a circle */
    /*margin: 0 auto;*/
}
body{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
#image-box{
    text-align: center;
}

h1,p{
    border: 3px solid blue;
    text-align: center;
    padding : 50px;
    margin: 100px;
    background-color:lightblue;
    
}
p{
    font-size: 1em;
    text-align: right;
    background-color: yellow;
    padding-right: 80px;
}
body{
    font-size: 30px;
}
.para-box {
    font-size: 3rem;
}
div p:hover {
    background-color:aqua
}
.social a {
    text-decoration: none;
}
ol{
    text-align: center;
    list-style-position: inside;
}