* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header,
main,
footer {
  width: 960px;
}

body {
  background-color: #b4bbe4;
}

header {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #2b2e89;
}

header picture,
.social {
  padding-left: 30px;
}

main {
  background-color: #d8ab88;
  min-height: 1010px;
}

main,
.siteplantext,
.siteplanli {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #2b2e89;
}

footer,
.siteplantext {
  color: #ffffff;
}

footer p {
  font-family: "Roboto", serif;
  font-size: 20px;
}

h1,
h2,
h3,
.navigation,
label,
input,
.usermessage {
  font-family: "Caveat", cursive;
}

h1,
.navigation {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

body,
h3 {
  font-size: 30px;
}

p {
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 25px;
}

/* Site Plan Specific Classes */
.siteplantext h1 {
  grid-column: 2;
}

.siteplanli,
.siteplanli img {
  padding: 10px 0px;
}

.siteplanli img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Class Selector */
.navigation a,
.siteplantext,
.social {
  white-space: nowrap;
}

.navigation {
  grid-column: 2/4;
}

.navigation ul {
  display: flex;
}

.navigation li,
.siteplanli {
  list-style-type: none;
}

.navigation a {
  padding: 15px;
  text-decoration: none;
  color: #91c598;
}

.navigation a:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.7s;
}

.navigation .current {
  background-color: #b4bbe4;
  color: #000000;
}

.noclick,
.center {
  pointer-events: none;
  user-select: none;
}

.site {
  list-style: none;
}

.banner,
.social {
  padding-top: 8px;
  position: relative;
}

.button {
  position: absolute;
  top: 83px;
  left: 405px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2b2e89;
  color: #5cf1ff;
  overflow: hidden;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

.button:hover,
.formbutton:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.7s; 
}

.button:after {
  content: "";
  background: #000000;
  display: block;
  position: absolute;
  padding-top: 83px;
  padding-left: 405px;
  margin-left: -15px !important;
  margin-top: -55px;
  opacity: 0;
  transition: all 0.5s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.services {
  padding: 50px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 0.5fr);
  column-gap: 30px;
  row-gap: 30px;
}

.center,
.div3,
.formcontainer h2,
.formbutton {
  grid-column: 1/3;
}

.div1,
.div2,
.div3 {
  padding: 0px 10px;
}

.div1,
.div2 {
  grid-row: 2;
}

.div3 {
  grid-row: 4;
}

.box1,
.box2,
.box3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #000000;
}

.border {
  margin: 5px;
  border: 5px outset #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

.sociallinks {
  padding-top: 5px;
  padding-right: 10px;
  justify-self: right;
}

/* Recipes & FAQ Site Specific Classes */
.list {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.images {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.images img {
  border-radius: 20px;
}

.tab {
  margin-top: 5%;
  border: 1px solid #000000;
  width: inherit;
  height: 100%;
}

.tab button {
  display: block;
  background-color: #5cf1ff;
  color: black;
  padding: 20px;
  width: 150px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 800;
}

.tab button:hover {
  background-color: #2b2e89;
  color: #ffffff;
}

.tab button.active {
  background-color: #b4bbe4;
}

.tabcontent {
  padding: 20px;
  border: 1px solid #000000;
  background-color: #5cf1ff;
  width: 700px;
  height: 550px;
}

.text,
.form {
  padding: 15px;
}

/* Contact Us Specific Classes */
.formcontainer {
  display: block;
  border: 1px solid #000000;
  width: 700px;
  margin: 40px auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #5cf1ff;
  font-size: inherit;
}

.formbutton {
  justify-self: center;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2b2e89;
  color: #5cf1ff;
  font-size: 25px;
  font-family: "Lobster", cursive;
}

label {
  text-align: left;
  margin: 0px 20px;
}

input {
  margin: 0px 20px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: inherit;
}

.usermessage {
  margin: 0px 20px;
  height: 100px;
  resize: none;
  border-radius: 10px;
  border: 2px solid #000000;
  font-size: inherit;
}
